@charset 'utf-8';
@import "colors";
@import "variables";
@import "breakpoints";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&family=Noto+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
::-webkit-input-placeholder {
  color: inherit;
}

::-moz-placeholder {
  color: inherit;
}

:-ms-input-placeholder {
  color: inherit;
}

:-moz-placeholder {
  color: inherit;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

textarea:focus:-moz-placeholder {
  color: transparent;
}

textarea:focus::-moz-placeholder {
  color: transparent;
}

textarea:focus:-ms-input-placeholder {
  color: transparent;
}

input,
select,
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input,
select,
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1.4;
  transition: 0s;
  background: #fff;
  color: #2e2e2e;
  font-size: 16px;
  font-family: "Montserrat";
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input:focus,
button,
button:focus,
textarea {
  outline: none;
}

button {
  cursor: pointer;
  transition: all 0.3s ease;
}

button {
  background-color: transparent;
  border: none;
}

a:focus,
a:active {
  color: inherit;
  outline: 0;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

a,
input[type=submit] {
  transition: all 0.3s ease;
  color: inherit;
  cursor: pointer;
}

textarea {
  resize: none;
}

.table-respond {
  overflow: auto;
}

.table-respond td,
.table-respond th {
  white-space: nowrap;
}

.btn,
.btn:focus,
.btn:hover {
  outline: none;
  box-shadow: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.regular {
  font-family: "GothamPro";
}

.bold {
  font-family: "GothamProBold";
}

.black {
  font-family: "GothamProBlack";
}

.d-flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.flex {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
}

.flex-reverse {
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
}

.flex-center {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.flex-left {
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-box-pack: start;
  justify-content: flex-start;
}

.flex-right {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.flex-justify {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.flex-around {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.flex-top {
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  -webkit-box-align: start;
  align-items: flex-start;
}

.flex-middle {
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  align-self: center;
}

.flex-bottom {
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  -webkit-box-align: end;
  align-items: flex-end;
}

.flex-item-top {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.flex-item-middle {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.flex-item-bottom {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

/** START HEADER **/
header .container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
header .top-nav {
  padding: 15px 0;
  background: #0c0f13;
}
@media (max-width: 575px) {
  header .top-nav {
    padding: 15px 5px;
  }
}
header .top-nav p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  font-family: "Montserrat";
}
@media (max-width: 575px) {
  header .top-nav p {
    display: none;
  }
}
header .top-nav ul {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  @include media-max(sm) {
    justify-content: flex-start;
  }
}
header .top-nav ul li {
  margin: 0 50px 0 0;
}
@media (max-width: 575px) {
  header .top-nav ul li {
    margin: 0 5px;
  }
  header .top-nav ul li:first-child {
    margin-left: 0;
  }
  header .top-nav ul li:last-child {
    display: none;
  }
}
header .top-nav ul li:nth-last-child(1) {
  margin: 0;
}
header .top-nav ul li a {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  font-family: "Montserrat";
}
header .top-nav ul li a img {
  margin: 0 10px 0 0;
}
header .bottom-nav {
  background: #10171f;
  padding: 35px 0;
}

@media (max-width: 767px) {
  header .bottom-nav {
    padding: 20px;
  }
}
@media (max-width: 575px) {
  header .bottom-nav {
    padding: 15px 5px;
  }
}
header .bottom-nav .logo:hover {
  opacity: 0.6;
}
header .bottom-nav .logo svg {
  display: block;
  width: 140px;
  fill: #E6273C;
}
@media (max-width: 575px) {
  header .bottom-nav .logo svg {
    width: 100px;
  }
}
header .bottom-nav .main-nav {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  z-index: 10;
}
@media (max-width: 767px) {
  header .bottom-nav .main-nav {
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 320px;
    height: 100%;
    transition: all 0.5s ease;
    background: #10171f;
    border-left: 1px solid #707274;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    z-index: 100;
    padding: 60px 15px;
    text-align: center;
  }
}
@media (max-width: 575px) {
  header .bottom-nav .main-nav {
    max-width: none;
  }
}
header .bottom-nav .main-nav.opened {
  overflow-y: auto;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
header .bottom-nav .main-nav li {
  margin: 0 80px 0 0;
}
@media (max-width: 991px) {
  header .bottom-nav .main-nav li {
    margin: 0 40px 0 0;
  }
}
@media (max-width: 767px) {
  header .bottom-nav .main-nav li {
    margin: 0 0 10px;
  }
}
header .bottom-nav .main-nav li:nth-last-child(1) {
  margin: 0;
}
header .bottom-nav .main-nav li a {
  font-size: 16px;
  color: #fff;
  font-family: "Noto Sans";
  font-weight: 700;
  position: relative;
}
header .bottom-nav .main-nav li a:before {
  content: "";
  position: absolute;
  top: calc(100% + 5px);
  width: 0;
  left: 50%;
  height: 2px;
  background: #d8082e;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
header .bottom-nav .main-nav li a:hover:before {
  opacity: 1;
  visibility: visible;
  width: 100%;
  left: 0;
}
header .bottom-nav .main-nav li.active a:before {
  opacity: 1;
  visibility: visible;
  width: 100%;
  left: 0;
}
header .bottom-nav .main-nav li.close-btn {
  display: none;
}
@media (max-width: 767px) {
  header .bottom-nav .main-nav li.close-btn {
    display: block;
    position: absolute;
    right: 20px;
    top: 5px;
  }
  header .bottom-nav .main-nav li.close-btn span {
    font-size: 40px;
    color: #fff;
  }
  header .bottom-nav .main-nav li.close-btn:hover span {
    color: #e6273c;
  }
}
header .bottom-nav .hamburger {
  display: none;
  cursor: pointer;
}
@media (max-width: 767px) {
  header .bottom-nav .hamburger {
    display: block;
  }
}
header .bottom-nav .hamburger span {
  background: #e3273c;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 20px;
  height: 2px;
  margin: 4px 0;
  z-index: 9;
  border-radius: 1px;
}

/** END HEADER **/
/** START CONTENT **/
.section-main {
  background: #0c0f13;
  position: relative;
  overflow: hidden;
  padding-bottom: 70px;
}
.section-main .main-title {
  font-size: 65px;
  color: #fff;
  font-family: "CA Saygon Bold";
  margin: 80px 0 55px;
  line-height: 60px;
  position: relative;
  z-index: 2;
}
@media (max-width: 991px) {
  .section-main .main-title {
    font-size: 60px;
    margin: 35px 0 55px;
  }
}
@media (max-width: 767px) {
  .section-main .main-title {
    font-size: 44px;
  }
}
@media (max-width: 575px) {
  .section-main .main-title {
    font-size: 30px;
    line-height: 46px;
    margin: 35px 0 40px;
  }
}
.section-main .descr {
  font-family: "Montserrat";
  font-size: 18px;
  color: #fff;
  margin: 0 0 50px;
  position: relative;
  z-index: 2;
}
@media (max-width: 767px) {
  .section-main .descr br {
    display: none;
  }
}
@media (max-width: 575px) {
  .section-main .descr {
    font-size: 16px;
  }
}
.section-main .right-image {
  position: absolute;
  right: -55px;
  bottom: 0;
}
@media (max-width: 991px) {
  .section-main .right-image {
    bottom: -15px;
  }
}

.breadcrumbs {
  padding: 15px 0;
  background: #0c0f13;
}
.breadcrumbs ul {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.breadcrumbs li a {
  position: relative;
  font-family: "GothamPro";
  font-style: italic;
  color: #6b6b6b;
  text-decoration: underline;
  font-size: 14px;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.breadcrumbs li:first-child a {
  position: relative;
  padding-left: 27px;
}
.breadcrumbs li a img {
  margin: 0 10px 0 0;
margin: 0 10px 0 0;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
}
.breadcrumbs li a:hover {
  text-decoration: none;
}
.breadcrumbs li p {
  margin: 0 10px;
  color: #6b6b6b;
}
.breadcrumbs li span {
  color: #6b6b6b;
  font-style: italic;
  color: #6b6b6b;
  font-size: 14px;
  position: relative;
  top: 1px;
}
.breadcrumbs svg {
  position: absolute;
  left: 0;
  top: 1px;
  width: 20px;
  margin-right: 10px;
}

.btn {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  font-family: "Noto Sans";
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 0 10px;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  transition: all 0.4s linear;
}
.btn.btn-red {
  background: #d8082e;
  color: #fff;
  min-width: 215px;
  border-radius: 5px;
}
.btn.btn-red:hover {
  background: #96172e;
}
.btn.btn-red__bordered {
  border: 2px solid #d8082e;
  color: #0e0e0e;
  min-width: 195px;
  border-radius: 5px;
}
.btn.btn-red__bordered:hover {
  background: #d8082e;
  color: #fff;
}
.btn.btn-gray {
  background: #efefef;
  border-radius: 5px;
  min-width: 100%;
  color: #0e0e0e;
}
.btn.btn-gray:hover {
  background: #cdcdcd;
}
.btn.btn-gray__bordered {
  background: #fff;
  border: 1px solid #8792a3;
  border-radius: 5px;
  color: #8792a3;
}
.btn.btn-gray__bordered:hover {
  background: #8792a3;
  color: #fff;
}

.section-title {
  margin: 0 0 30px;
}
.section-title span {
  font-size: 16px;
  color: #d8082e;
  text-transform: uppercase;
  font-family: "Noto Sans";
  font-weight: 700;
  display: block;
  margin: 0 0 5px;
}
.section-title p {
  font-size: 30px;
  color: #000000;
  font-family: "CA Saygon Bold";
  line-height: 33px;
}
@media (max-width: 575px) {
  .section-title p {
    font-size: 22px;
  }
}
.section-title__white p {
  color: #fff;
}

.section-advantages {
  padding: 80px 0 40px;
}
@media (max-width: 767px) {
  .section-advantages {
    padding: 50px 0 40px;
  }
  .breadcrumbs li p{
    margin: 0 3px;
  }
  .breadcrumbs li p,
  .breadcrumbs li{
    font-size: 13px;
  }
  .breadcrumbs li a svg{
    display: none;
  }
  .breadcrumbs li span,
  .breadcrumbs li a{
    font-size: 13px;
  }
  .breadcrumbs li:first-child a {
    padding-left: 0;
  }
}
.section-advantages .a-elem {
  padding: 35px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}
@media (max-width: 1199px) {
  .section-advantages .a-elem {
    padding: 15px;
  }
}
.section-advantages .a-elem:hover {
  border: 1px solid #dadada;
}
.section-advantages .a-elem .a-img {
  margin: 0 20px 0 0;
}
.section-advantages .a-elem .a-img img {
  display: block;
}
.section-advantages .a-elem .a-info {
  width: calc(100% - 65px);
}
.section-advantages .a-elem .a-info p {
  margin: 0 0 5px;
  font-size: 18px;
  color: #0e0e0e;
  font-family: "Noto Sans";
  font-weight: 700;
}
@media (max-width: 500px) {
  .section-advantages .a-elem .a-info p {
    width: 16px;
  }
}
.section-advantages .a-elem .a-info span {
  font-size: 15px;
  color: #343434;
}
@media (max-width: 500px) {
  .section-advantages .a-elem .a-info span {
    width: 14px;
  }
}
.section-advantages .btn {
  margin: 35px 0 0;
}

.section-cost {
  padding: 40px 0 60px;
}
@media (max-width: 991px) {
  .section-cost {
    padding: 40px 0 20px;
  }
  .section-cost .row {
    justify-content: center;
  }
  .section-cost .row [class*=col-] {
    margin-bottom: 30px;
  }
}
.section-cost .cost-item {
  padding: 50px 45px 35px;
  border: 1px solid #dadada;
}
@media (max-width: 1199px) {
  .section-cost .cost-item {
    padding: 50px 15px 35px;
  }
}
.section-cost .cost-item {
  position: relative;
  height: 100%;
}
.section-cost .cost-item:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 100px 100px 0;
  border-color: transparent #d8082e transparent transparent;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.section-cost .cost-item:after {
  content: "";
  position: absolute;
  right: 15px;
  top: 15px;
  background: url("../svg/rocket.svg") center no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.section-cost .cost-item:hover:after,
.section-cost .cost-item:hover:before {
  opacity: 1;
  visibility: visible;
}
.section-cost .cost-item:hover .btn {
  background: #d8082e;
  color: #fff;
}
.section-cost .cost-item .tarif {
  font-size: 14px;
  color: #757575;
  text-align: center;
}
.section-cost .cost-item .name {
  font-size: 24px;
  font-family: "Noto Sans";
  font-weight: 700;
  color: #0e0e0e;
  margin: 0 0 15px;
  text-align: center;
}
.section-cost .cost-item .price {
  font-size: 42px;
  color: #d8082e;
  font-family: "Noto Sans";
  margin: 0 0 10px;
  text-align: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}
.section-cost .cost-item span {
  font-size: 14px;
  color: #343434;
  text-align: center;
  display: block;
}
.section-cost .cost-item ul {
  padding: 35px 0 0;
  margin: 45px 0 25px;
  border-top: 1px solid #dadada;
}
.section-cost .cost-item ul li {
  margin: 0 0 30px;
  font-size: 12px;
  color: #343434;
}
.section-cost .cost-item ul li:nth-last-child(1) {
  margin: 0;
}
.section-cost .cost-item ul li small {
  color: #d8082e;
}
.section-cost .cost-item .btn {
  min-width: 100%;
}

.section-build {
  padding: 90px 0 120px;
  background: #10171f;
  position: relative;
}
@media (max-width: 991px) {
  .section-build .row {
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .section-build {
    padding: 60px 0 50px;
  }
}
.section-build:before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -195px;
  background: url("../img/macbook.png") center no-repeat;
  width: 648px;
  height: 820px;
}
@media (max-width: 991px) {
  .section-build:before {
    display: none;
  }
}
.section-build .section-title {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 0 75px;
}
@media (max-width: 575px) {
  .section-build .section-title {
    margin: 0 0 50px;
  }
}
.section-build [class*=col-]:nth-last-child(1) .step,
.section-build [class*=col-]:nth-last-child(2) .step {
  margin: 0;
}
@media (max-width: 767px) {
  .section-build [class*=col-]:nth-last-child(1) .step,
.section-build [class*=col-]:nth-last-child(2) .step {
    margin: 0 0 50px;
  }
}
.section-build .step {
  margin: 0 0 100px;
  padding: 0 35px;
}
@media (max-width: 1199px) {
  .section-build .step {
    padding: 0 15px;
  }
}
@media (max-width: 767px) {
  .section-build .step {
    margin: 0 0 50px;
  }
}
.section-build .step p {
  font-size: 30px;
  color: #ffffff;
  font-family: "CA Saygon";
  margin: 0 0 15px;
  text-align: center;
}
@media (max-width: 575px) {
  .section-build .step p {
    font-size: 24px;
  }
}
.section-build .step p span {
  color: #b60b2b;
}
.section-build .step .time {
  font-size: 18px;
  color: #b3b3b3;
  font-family: "Noto Sans";
  font-weight: 700;
  margin: 0 0 15px;
  text-align: center;
}
@media (max-width: 1199px) {
  .section-build .step .time {
    text-shadow: 3px 2px 2px #10171f;
  }
}
.section-build .step .descr {
  font-size: 15px;
  color: #fff;
  text-align: center;
  text-shadow: 3px 2px 2px #10171f;
}

.section-promotion {
  padding: 150px 0 60px;
}
@media (max-width: 991px) {
  .section-promotion .row {
    justify-content: center;
  }
  .section-promotion .row [class*=col-] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .section-promotion {
    padding: 60px 0 0;
  }
}
@media (max-width: 575px) {
  .section-promotion .promotion-elem {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.section-promotion .section-title {
  margin: 0 0 50px;
}
@media (max-width: 575px) {
  .section-promotion .section-title {
    margin: 0 0 30px;
  }
}
.section-promotion .description p {
  font-size: 18px;
  color: #000000;
  font-family: "Montserrat";
  margin: 0 0 25px;
}
@media (max-width: 991px) {
  .section-promotion .description p br {
    display: none;
  }
}
.section-promotion .description p a {
  color: #d8082e;
  text-decoration: underline;
}
.section-promotion .description p a:hover {
  text-decoration: none;
}
.section-promotion .btn {
  margin: 45px 0 0;
  pointer-events: none;
}
@media (max-width: 575px) {
  .section-promotion .btn {
    margin: 20px 0 0;
  }
}

.section-instruments {
  padding: 60px 0 130px;
}
@media (max-width: 1199px) {
  .section-instruments {
    padding: 60px 0 90px;
  }
}
@media (max-width: 991px) {
  .section-instruments {
    padding: 60px 0 50px;
  }
  .section-instruments .row {
    justify-content: center;
  }
  .section-instruments .row > div {
    margin-bottom: 30px;
  }
}
.section-instruments .description {
  font-size: 18px;
  color: #000000;
  font-family: "Montserrat";
  margin: 0 0 65px;
}
@media (max-width: 767px) {
  .section-instruments .description {
    margin: 0 0 40px;
  }
}
@media (max-width: 575px) {
  .section-instruments .description {
    font-size: 16px;
  }
}
.section-instruments .i-item {
  border-radius: 3px/3px 3px 3px 3px;
  background-clip: padding-box;
  background-color: #fefffe;
  box-shadow: 0 3px 5px rgba(98, 115, 123, 0.1);
  padding: 50px 40px;
  border: 1px solid #d6d8db;
  height: 100%;
}
@media (max-width: 1199px) {
  .section-instruments .i-item {
    padding: 40px 25px;
  }
}
.section-instruments .i-item .i-img {
  height: 85px;
  line-height: 85px;
  margin: 0 0 40px;
}
.section-instruments .i-item img {
  display: inline-block;
  vertical-align: bottom;
}
.section-instruments .i-item .step {
  font-size: 14px;
  text-transform: uppercase;
  color: #757575;
  margin: 0 0 5px;
}
.section-instruments .i-item .name {
  font-size: 24px;
  color: #0e0e0e;
  font-family: "Noto Sans";
  font-weight: 700;
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid #dadada;
}
.section-instruments .i-item .descr {
  font-size: 15px;
  color: #343434;
  line-height: 25px;
}
.section-instruments.main-instruments {
  padding: 115px 0 55px;
}
@media (max-width: 767px) {
  .section-instruments.main-instruments {
    padding: 60px 0 15px;
  }
}

.section-cashier {
  padding: 0;
  overflow: hidden;
  padding-top: 125px;
  margin-top: -125px;
  padding-bottom: 35px;

  &+* {
    margin-top: -35px;
  }
}
.section-cashier .c-left {
  padding: 55px 0 85px;
}
.section-cashier .slider-item {
  position: relative;
  z-index: 3;
  background: #10171f;
}
.section-cashier .slick-list {
  overflow: visible;
}
.section-cashier .section-title p {
  font-size: 60px;
  line-height: 1;
}
@media (max-width: 1199px) {
  .section-cashier .section-title p {
    line-height: 50px;
  }
}
@media (max-width: 767px) {
  .section-cashier .section-title p {
    font-size: 44px;
  }
}
@media (max-width: 575px) {
  .section-cashier .section-title p {
    font-size: 30px;
  }
}
.section-cashier .terminal {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0 35px;
}
.section-cashier .terminal img {
  display: block;
  margin: 0 20px 0 0;
}
.section-cashier .terminal p {
  font-size: 16px;
  color: #6b6b6b;
  font-family: "GothamPro";
  font-style: italic;
}
.section-cashier .terminal p a {
  display: block;
  text-decoration: underline;
}
.section-cashier .terminal p a:hover {
  text-decoration: none;
}
.section-cashier .c-item {
  margin: 0 0 20px;
  position: relative;
  z-index: 9;
  padding-right: 80px;
}
@media (max-width: 767px) {
  .section-cashier .c-item {
    padding-right: 0;
  }
  .section-cashier .c-item br {
    display: none;
  }
}
.section-cashier .c-item p {
  font-size: 18px;
  color: #ffffff;
  font-family: "GothamProBold";
}
.section-cashier .c-item p span {
  font-style: italic;
}
.section-cashier .c-item ul li {
  font-family: "GothamPro";
  font-size: 15px;
  color: #fff;
}
.section-cashier .c-item span {
  font-family: "GothamPro";
  font-size: 15px;
  color: #fff;
}
.section-cashier .c-item span small {
  font-family: "GothamProBold";
}
.section-cashier .cashier-img {
  position: absolute;
  right: 0;
  bottom: 0;
}
.section-cashier .cashier-img:before {
  content: "";
  position: absolute;
  width: 580px;
  height: 580px;
  border-radius: 50%;
  background: #d8082e;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}
@media (max-width: 1399px) {
  .section-cashier .cashier-img:before {
    display: none;
  }
}
.section-cashier .cashier-img img {
  display: block;
  position: relative;
  z-index: 2;
}
@media (max-width: 991px) {
  .section-cashier .cashier-img img {
    display: none;
  }
}
.section-cashier .slick-arrow {
  position: absolute;
  bottom: -25px;
  left: calc(((100% - 1200px) / 2) + 15px) !important;
  z-index: 8;
}
.section-cashier .slick-arrow.slick-next {
  left: calc(((100% - 992px) / 2) + 25px) !important;
}
@media (min-width: 0px) {
  .section-cashier .slick-arrow {
    left: 15px !important;
  }
  .section-cashier .slick-arrow.slick-next {
    left: calc(((100% - 992px) / 2) + 425px) !important;
  }
}
@media (min-width: 576px) {
  .section-cashier .slick-arrow {
    left: calc(((100% - 576px) / 2) + 15px) !important;
  }
  .section-cashier .slick-arrow.slick-next {
    left: calc(((100% - 992px) / 2) + 325px) !important;
  }
}
@media (min-width: 768px) {
  .section-cashier .slick-arrow {
    left: calc(((100% - 768px) / 2) + 15px) !important;
  }
  .section-cashier .slick-arrow.slick-next {
    left: calc(((100% - 992px) / 2) + 245px) !important;
  }
}
@media (min-width: 992px) {
  .section-cashier .slick-arrow {
    left: calc(((100% - 992px) / 2) + 15px) !important;
  }
  .section-cashier .slick-arrow.slick-next {
    left: calc(((100% - 992px) / 2) + 245px) !important;
  }
}
@media (min-width: 1200px) {
  .section-cashier .slick-arrow {
    left: calc(((100% - 1200px) / 2) + 15px) !important;
  }
  .section-cashier .slick-arrow.slick-next {
    left: calc(((100% - 992px) / 2) + 25px) !important;
  }
}

.slick-slide {
  outline: none;
}

.slick-arrow {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-radius: 25px;
  background-clip: padding-box;
  background-color: #fefffe;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.slick-arrow svg {
  width: 10px;
  height: 14px;
  transition: all 0.3s ease;
}
.slick-arrow.slick-next {
  left: 110px;
}
.slick-arrow.slick-disabled {
  pointer-events: none;
}
.slick-arrow.slick-disabled svg {
  opacity: 0.5;
}

.lock-icon {
  width: 8px;
  margin-right: 10px;
}

.section-results {
  padding: 110px 0 80px;
  overflow: hidden;
}
@media (max-width: 575px) {
  .section-results {
    padding: 110px 0 50px;
  }
}
.section-results .section-title {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-results form .form-title {
  font-size: 18px;
  color: #000000;
  text-align: center;
  margin: 0 0 15px;
}
@media (max-width: 575px) {
  .section-results form .form-title {
    font-size: 16px;
  }
}
.section-results form .form-title span {
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: 700;
}
.section-results form .row {
  margin: 0 -25px;
}
@media (max-width: 1199px) {
  .section-results form .row {
    margin: 0 -15px;
  }
}
.section-results form .row [class*=col-] {
  padding: 0 25px;
}
@media (max-width: 1199px) {
  .section-results form .row [class*=col-] {
    padding: 15px;
  }
}
.section-results form .result-item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  background-color: #fefffe;
  box-shadow: 0 3px 5px rgba(98, 115, 123, 0.1);
  border-radius: 5px;
  padding: 65px 50px;
  height: 100%;
}
@media (max-width: 1199px) {
  .section-results form .result-item {
    padding: 40px;
  }
}
@media (max-width: 500px) {
  .section-results form .result-item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 10px;
  }
}
.section-results form .result-item .result-image {
  margin: 0 30px 0 0;
}
@media (max-width: 500px) {
  .section-results form .result-item .result-image {
    margin: 0 0 10px 0;
  }
}
.section-results form .result-item .result-info {
  width: calc(100% - 110px);
}
@media (max-width: 500px) {
  .section-results form .result-item .result-info {
    width: 100%;
  }
}
.section-results form .result-item .result-info span {
  display: block;
  font-size: 18px;
  color: #0e0e0e;
  font-family: "Noto Sans";
  font-weight: 700;
}
.section-results form .result-item .result-info a {
  font-size: 36px;
  color: #0e0e0e;
  font-family: "CA Saygon";
}
@media (max-width: 1199px) {
  .section-results form .result-item .result-info a {
    font-size: 30px;
  }
}
.section-results form .result-item .form-group {
  margin: 15px 0 0;
  position: relative;
}
.section-results form .result-item .form-group .form-control {
  margin: 0;
}
.section-results form .result-item .form-btn {
  width: 49px;
  height: 49px;
  border-radius: 5px/5px 5px 5px 5px;
  background-clip: padding-box;
  background-color: #d7072d;
  position: absolute;
  right: 1px;
  top: 1px;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.section-results form .result-item .form-btn.success img {
  width: 20px;
}

.form-group {
  position: relative;
}
.form-group span {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: grey;
  font-size: 12px;
}
.form-group .form-control {
  color: #757575;
  font-size: 14px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: 0 15px;
  min-height: 50px;
  border-radius: 5px;
  border: 1px solid #eee;
  width: 100%;
}
.form-group textarea.form-control {
  padding: 15px 15px;
  min-height: 100px;
}

.section-recommend {
  background: #10171f;
  position: relative;
  color: #fff;
  text-align: right;
}
@media (max-width: 991px) {
  .section-recommend .image {
    order: 2;
  }
}
@media (max-width: 575px) {
  .section-recommend {
    text-align: center;
  }
}
.section-recommend .section-title p {
  font-size: 60px;
}
@media (max-width: 1199px) {
  .section-recommend .section-title p {
    font-size: 50px;
  }
}
@media (max-width: 991px) {
  .section-recommend .section-title p {
    text-shadow: 3px 2px 2px #384826;
  }
}
@media (max-width: 575px) {
  .section-recommend .section-title p {
    font-size: 30px;
    text-shadow: none;
  }
}
.section-recommend img {
  position: absolute;
  left: 0;
  bottom: -50px;
  max-width: initial;
}
@media (max-width: 991px) {
  .section-recommend img {
    bottom: -75px;
  }
}
@media (max-width: 767px) {
  .section-recommend img {
    bottom: 0;
    width: 300px;
  }
}
@media (max-width: 575px) {
  .section-recommend img {
    display: none;
  }
}
.section-recommend .right-side {
  padding: 55px 0 65px;
}
.section-recommend .right-side .description {
  font-family: "GothamPro";
  font-size: 18px;
  margin: 0 0 60px;
}
@media (max-width: 991px) {
  .section-recommend .right-side .description {
    font-size: 16px;
  }
}
@media (max-width: 400px) {
  .section-recommend .right-side .description br {
    display: none;
  }
}
.section-recommend .right-side .btn {
  color: #fff;
}

.section-reviews {
  padding: 130px 0 70px;
}
@media (max-width: 767px) {
  .section-reviews {
    padding: 60px 0 130px;
  }
}
.section-reviews .slick-arrow {
  position: absolute;
  top: 70px;
}
@media (max-width: 991px) {
  .section-reviews .slick-arrow {
    top: 45px;
  }
}
@media (max-width: 575px) {
  .section-reviews .slick-arrow {
    top: auto;
    bottom: -80px;
  }
}
.section-reviews .slick-arrow.slick-prev {
  left: -25px;
}
@media (max-width: 1199px) {
  .section-reviews .slick-arrow.slick-prev {
    left: -8px;
  }
}
@media (max-width: 575px) {
  .section-reviews .slick-arrow.slick-prev {
    left: 90px;
  }
}
.section-reviews .slick-arrow.slick-next {
  right: -25px;
  left: auto;
}
@media (max-width: 1199px) {
  .section-reviews .slick-arrow.slick-next {
    right: -8px;
  }
}
@media (max-width: 575px) {
  .section-reviews .slick-arrow.slick-next {
    right: 90px;
  }
}
.section-reviews .slick-list {
  margin: 0 25px;
}
@media (max-width: 575px) {
  .section-reviews .slick-list {
    margin: 0;
  }
}
.section-reviews .slick-list .slick-slide {
  margin: 0 25px;
}
@media (max-width: 575px) {
  .section-reviews .slick-list .slick-slide {
    margin: 0;
  }
}
.section-reviews .slick-list .slick-slide .review-content {
  padding: 40px;
  border: 1px solid #ebebeb;
  background-clip: padding-box;
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(116, 134, 141, 0.1);
  font-style: italic;
  font-size: 17px;
  line-height: 27px;
  color: #000011;
  margin: 0 0 40px;
}
@media (max-width: 1199px) {
  .section-reviews .slick-list .slick-slide .review-content {
    padding: 30px;
  }
}
@media (max-width: 575px) {
  .section-reviews .slick-list .slick-slide .review-content {
    padding: 15px;
    font-size: 16px;
  }
}
.section-reviews .slick-list .slick-slide .author-info {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
@media (max-width: 450px) {
  .section-reviews .slick-list .slick-slide .author-info {
    flex-direction: column;
  }
}
.section-reviews .slick-list .slick-slide .author-info .author-logo {
  max-width: 100px;
  margin: 0 20px 0 0;
}
@media (max-width: 450px) {
  .section-reviews .slick-list .slick-slide .author-info .author-logo {
    margin: 0 auto 20px;
  }
}
.section-reviews .slick-list .slick-slide .author-info .author-descr {
  width: calc(100% - 120px);
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
@media (max-width: 450px) {
  .section-reviews .slick-list .slick-slide .author-info .author-descr {
    width: 100%;
  }
}
.section-reviews .slick-list .slick-slide .author-info .author-descr p {
  font-size: 18px;
  color: #111111;
  font-family: "Noto Sans";
  font-weight: 700;
  margin: 0 0 5px;
}
.section-reviews .slick-list .slick-slide .author-info .author-descr a {
  font-size: 15px;
  color: #d8082e;
  font-family: "Noto Sans";
}
.section-reviews.main-reviews {
  padding: 65px 0 145px;
}
@media (max-width: 991px) {
  .section-reviews.main-reviews {
    padding: 0 0 145px;
  }
}

.section-contacts {
  padding: 70px 0 0;
  overflow: hidden;
}
@media (max-width: 991px) {
  .section-contacts {
    padding: 30px 0 0;
  }
  .section-contacts .section-title p {
    font-size: 24px;
  }
}
@media (max-width: 575px) {
  .section-contacts {
    padding: 15px 0 0;
  }
}
.section-contacts .image-before {
  padding: 0 60px 0 0;
  height: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
@media (max-width: 767px) {
  .section-contacts .image-before {
    display: none;
  }
}
.section-contacts .image-before span {
  font-size: 550px;
  font-family: "Roboto";
  font-weight: 700;
  color: #f6f6f7;
  position: absolute;
  left: -120px;
  bottom: 0;
  line-height: 550px;
  white-space: nowrap;
}
@media (max-width: 991px) {
  .section-contacts .image-before span {
    font-size: 400px;
    left: 0;
  }
}
.section-contacts .image-before img {
  position: relative;
  z-index: 3;
  display: block;
}
.section-contacts .form-group {
  margin: 0 0 20px;
}
.section-contacts .btn {
  width: 100%;
  min-width: 100%;
  margin: 25px 0 0;
}
@media (max-width: 991px) {
  .section-contacts .btn {
    margin: 0;
  }
}
.section-contacts form {
  padding-bottom: 80px;
}
@media (max-width: 1199px) {
  .section-contacts form {
    padding-bottom: 30px;
  }
}
.section-contacts .policy {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 15px 0 0 20px;
  font-size: 10px;
  color: #636161;
  font-family: "Montserrat";
}
.section-contacts .policy img {
  margin: 0 12px 0 0;
}

.section-home {
  background: #000;
  padding: 75px 0 0;
  position: relative;
}
@media (max-width: 767px) {
  .section-home {
    padding: 50px 0 0;
  }
}
@media (max-width: 575px) {
  .section-home {
    padding: 30px 0 0;
  }
}
.section-home:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: calc(50% + 2px);
  height: 220px;
  clip-path: polygon(100% 50%, 0% 100%, 100% 100%);
  background: #fff;
  z-index: 8;
}
@media (max-width: 500px) {
  .section-home:after {
    display: none;
  }
}
.section-home:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: calc(50% + 2px);
  height: 220px;
  clip-path: polygon(0% 50%, 0% 100%, 100% 100%);
  background: #fff;
  z-index: 8;
}
@media (max-width: 500px) {
  .section-home:before {
    display: none;
  }
}
.section-home .container {
  position: relative;
  padding-bottom: 245px;
}
.section-home .head {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
  color: #6b6b6b;
  font-family: "GothamPro";
  margin: 0 0 15px;
}
@media (max-width: 575px) {
  .section-home .head {
    font-size: 12px;
  }
}
.section-home .head a {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  font-style: italic;
  text-decoration: none;
  margin: 0 5px 0 0;
}
.section-home .head span {
  text-decoration: underline;
}
.section-home .head a img {
  margin: 0 15px 0 0;
}
.section-home .head a:hover span {
  text-decoration: none;
}
.section-home .main-title {
  position: relative;
  z-index: 54;
  font-size: 65px;
  color: #ffffff;
  font-family: "CA Saygon Bold";
  line-height: 60px;
  margin: 0 0 120px;
}
@media (max-width: 991px) {
  .section-home .main-title {
    font-size: 50px;
  }
}
@media (max-width: 767px) {
  .section-home .main-title {
    font-size: 44px;
    margin: 0 0 75px;
  }
}
@media (max-width: 575px) {
  .section-home .main-title {
    font-size: 30px;
    line-height: 46px;
    margin: 0 0 40px;
  }
}
.section-home .main-img {
  position: absolute;
  right: 0;
  bottom: 0;
}
@media (max-width: 500px) {
  .section-home .main-img {
    position: static;
  }
}
.section-home .main-img img {
  position: relative;
  z-index: 2;
}
@media (max-width: 991px) {
  .section-home .main-img img {
    width: 400px;
  }
}
@media (max-width: 767px) {
  .section-home .main-img img {
    width: 330px;
  }
}
@media (max-width: 500px) {
  .section-home .main-img img {
    margin: 10px auto 0;
    display: block;
  }
}
.section-home .main-img span {
  display: none;
  position: absolute;
  right: 0;
  top: -25px;
  color: rgba(45, 60, 78, 0.1);
  font-size: 448px;
  font-family: "Roboto";
  font-weight: 700;
  z-index: 0;
}
@media (max-width: 991px) {
  .section-home .main-img span {
    display: none;
  }
}
.section-home .main-slider {
  position: absolute;
  z-index: 9;
  margin: 10px 0 0;
  bottom: -80px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
@media (max-width: 500px) {
  .section-home .container {
    padding-bottom: 0;
  }
  .section-home .main-slider {
    top: -20px;
    margin: -100px 0 0;
    position: relative;
    left: auto;
    transform: none;
  }
  .section-home .main-slider .slick-slide .sl-img,
  .section-home .main-slider .slick-slide .descr {
    display: block !important;
  }
  .section-home .main-slider .slick-slide .title {
    font-size: 16px !important;
    color: #0e0e0e !important;
    margin: 0 0 15px !important;
  }
}
.section-home .main-slider .slick-list {
  margin: 0 30px;
  padding: 0 !important;
}
@media (max-width: 500px) {
  .section-home .main-slider .slick-list {
    margin: 0;
  }
}
.section-home .main-slider .slick-track {
  padding: 20px 0;
}
.section-home .main-slider .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 500px) {
  .section-home .main-slider .slick-arrow {
    top: auto;
    bottom: -70px;
    transform: 0;
  }
}
.section-home .main-slider .slick-arrow.slick-prev {
  left: -15px;
}
@media (max-width: 1199px) {
  .section-home .main-slider .slick-arrow.slick-prev {
    left: -20px;
  }
}
@media (max-width: 1139px) {
  .section-home .main-slider .slick-arrow.slick-prev {
    left: 0;
  }
}
@media (max-width: 500px) {
  .section-home .main-slider .slick-arrow.slick-prev {
    left: 90px;
  }
}
.section-home .main-slider .slick-arrow.slick-next {
  right: -15px;
  left: auto;
}
@media (max-width: 1199px) {
  .section-home .main-slider .slick-arrow.slick-next {
    right: -20px;
    left: auto;
  }
}
@media (max-width: 1139px) {
  .section-home .main-slider .slick-arrow.slick-next {
    right: 0;
    left: auto;
  }
}
@media (max-width: 500px) {
  .section-home .main-slider .slick-arrow.slick-next {
    right: 90px;
  }
}
.section-home .main-slider .slick-slide {
  margin: 0 15px;
  background: #fefffe;
  border-radius: 5px;
  box-shadow: 0 3px 5px rgba(98, 115, 123, 0.1);
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px 15px;
  vertical-align: middle;
  float: none;
}
@media (max-width: 1199px) {
  .section-home .main-slider .slick-slide {
    margin: 0 10px;
  }
}
@media (max-width: 1139px) {
  .section-home .main-slider .slick-slide {
    margin: 0 35px;
  }
}
@media (max-width: 500px) {
  .section-home .main-slider .slick-slide {
    margin: 0;
  }
}
.section-home .main-slider .slick-slide .title {
  font-size: 18px;
  color: #828e9f;
  font-family: "Noto Sans";
  font-weight: 700;
}
.section-home .main-slider .sl-img {
  display: none;
  margin: 0 auto 25px;
}
.section-home .main-slider .slick-slide .descr {
  display: none;
  font-size: 13px;
  color: #343434;
}
.section-home .main-slider .slick-slide.slick-current {
  position: relative;
}
.section-home .main-slider .slick-slide.slick-current:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 30px 20px 30px;
  border-color: transparent transparent #fff transparent;
}
.section-home .main-slider .slick-slide.slick-current .descr {
  display: block;
}
.section-home .main-slider .slick-slide.slick-current .sl-img {
  display: block;
}
.section-home .main-slider .slick-slide.slick-current .sl-img svg {
  fill: #E6273C;
  width: 60px;
}
.section-home .main-slider .slick-slide.slick-current .title {
  font-size: 16px;
  color: #0e0e0e;
  margin: 0 0 15px;
}

.section-price {
  padding: 195px 0 175px;
}
@media (max-width: 991px) {
  .section-price {
    padding: 160px 0 110px;
  }
}
@media (max-width: 767px) {
  .section-price {
    padding: 130px 0 110px;
  }
  .section-price .info {
    margin-top: 30px;
    order: 2;
  }
}
@media (max-width: 575px) {
  .section-price {
    padding: 100px 0 70px;
    position: relative;
    z-index: 2;
    background: #fff;
  }
}
.section-price img {
  display: block;
}
@media (max-width: 991px) {
  .section-price img {
    margin: 0 auto;
  }
}
.section-price .price-elem {
  margin: 0 0 140px;

  li {
    a {
      color: inherit;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
@media (max-width: 991px) {
  .section-price .price-elem {
    margin: 0 0 100px;
  }
}
@media (max-width: 575px) {
  .section-price .price-elem {
    margin: 0 0 65px;
  }
}
.section-price .price-elem:nth-last-child(1) {
  margin: 0;
}
.section-price .price-elem .price-list li {
  font-size: 18px;
  color: #000;
  margin: 0 0 30px;
  position: relative;
  padding: 0 0 0 30px;
}
@media (max-width: 575px) {
  .section-price .price-elem .price-list li {
    font-size: 16px;
    margin: 0 0 20px;
  }
  .section-price .price-elem .price-list li br {
    display: none;
  }
}
.section-price .price-elem .price-list li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #8792a3;
}
.section-price .price-elem .price-list li:nth-last-child(1) {
  margin: 0;
}
.section-price .price-btns {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 30px 0 0;
}
.section-price .price-btns .btn {
  min-width: initial;
  padding: 0 30px;
  margin: 0 30px 0 0;
}
@media (max-width: 575px) {
  .section-price .price-btns .btn {
    margin: 0 10px 0 0;
    padding: 0 25px;
  }
}
.section-price .price-btns .btn:nth-last-child(1) {
  margin: 0;
}
.section-price.services {
  padding: 40px 0 80px;
}
@media (max-width: 767px) {
  .section-price.services {
    padding: 40px 0 50px;
  }
}

.text-red {
  color: #d8082e;
}

.section-projects {
  padding: 135px 0 55px;
}
@media (max-width: 991px) {
  .section-projects {
    padding: 135px 0 25px;
  }
  .section-projects .row {
    justify-content: center;
  }
  .section-projects .row > div {
    margin-bottom: 30px;
  }
}
@media (max-width: 575px) {
  .section-projects {
    padding: 90px 0 25px;
  }
}
.section-projects .description p {
  font-size: 18px;
  color: #000000;
  margin: 0 0 20px;
}
@media (max-width: 1199px) {
  .section-projects .description p {
    font-size: 16px;
  }
}
.section-projects .description p:nth-last-child(1) {
  margin: 0;
}
.section-projects .description p span {
  font-weight: 700;
}
.section-projects.products {
  padding: 40px 0;
}

.project {
  padding: 43px 50px 35px;
  border-radius: 3px/3px 3px 3px 3px;
  background-clip: padding-box;
  background-color: #fefffe;
  box-shadow: 0 3px 5px rgba(98, 115, 123, 0.1);
  border: 1px solid #d6d8db;
  height: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 1199px) {
  .project {
    padding: 35px 25px;
  }
}
.project-img {
  margin: 0 0 15px;
  max-width: 230px;
  min-height: 45px;
  line-height: 45px;
}
.project-img img {
  display: inline-block;
  vertical-align: middle;
}
.project-name {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #dadada;
}
.project-name span {
  font-family: "Noto Sans";
  color: #757575;
  font-size: 14px;
}
.project-name p {
  font-size: 24px;
  color: #0e0e0e;
  font-family: "Noto Sans";
  font-weight: 700;
}
.project-info {
  font-size: 15px;
  color: #343434;
  margin: 0 0 30px;
}
.project .btn {
  padding: 0 30px;
}

.section-headers {
  padding: 45px 0 75px;
  background: #0c0f13;
}
.section-headers .container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.section-headers .container span {
  font-size: 16px;
  color: #8792a3;
  font-family: "Noto Sans";
  display: block;
  text-transform: uppercase;
  font-weight: 700;
}
.section-headers .container p {
  font-size: 60px;
  color: #fff;
  font-family: "CA Saygon Bold";
  line-height: 55px;
}
@media (max-width: 767px) {
  .section-headers .container p {
    font-size: 48px;
  }
}
@media (max-width: 575px) {
  .section-headers .container p {
    font-size: 40px;
  }
}

.section-error {
  padding: 90px 0 110px;
}
@media (max-width: 767px) {
  .section-error {
    padding: 50px 0 60px;
  }
}
@media (max-width: 575px) {
  .section-error {
    padding: 40px 0 40px;
  }
}
.section-error .error-content {
  max-width: 785px;
  position: relative;
}
.section-error .error-content:after {
  content: "";
  position: absolute;
  right: 25px;
  bottom: -40px;
  background: url("../img/error-img.png") center no-repeat;
  background-size: contain;
  width: 304px;
  height: 359px;
}
@media (max-width: 767px) {
  .section-error .error-content:after {
    right: 10px;
    bottom: 0;
    width: 220px;
  }
}
@media (max-width: 575px) {
  .section-error .error-content:after {
    width: 100px;
    right: auto;
    left: 195px;
    bottom: -40px;
  }
}
.section-error .error-content span {
  font-size: 16px;
  color: #d8082e;
  font-family: "Noto Sans";
  font-weight: 700;
  text-transform: uppercase;
}
.section-error .error-content .error-text {
  font-size: 333px;
  color: #0c0f13;
  font-family: "CA Saygon Bold";
  line-height: 1;
}
@media (max-width: 767px) {
  .section-error .error-content .error-text {
    font-size: 250px;
  }
}
@media (max-width: 575px) {
  .section-error .error-content .error-text {
    font-size: 150px;
  }
}
.section-error .error-content .redirect {
  margin: 115px 0 0;
  margin: 10px 0 0;
}
@media (max-width: 575px) {
  .section-error .error-content .redirect {
    margin: 40px 0 0;
  }
}
.section-error .error-content .redirect p {
  font-size: 20px;
  color: #0c0f13;
}
@media (max-width: 575px) {
  .section-error .error-content .redirect p {
    font-size: 16px;
  }
}
.section-error .error-content .redirect p a {
  color: #d8082e;
  text-decoration: underline;
}
.section-error .error-content .redirect p a:hover {
  text-decoration: none;
}

.section-contact {
  padding: 0px 0 100px;
}
@media (max-width: 991px) {
  .section-contact {
    padding: 0px 0 50px;
  }
}
@media (max-width: 767px) {
  .section-contact .form-column {
    margin-top: 40px;
  }
}
.section-contact .map {
  margin: 0 0 90px;
  position: relative;
  min-height: 420px;
}
.section-contact .map:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: calc(50% + 2px);
  height: 220px;
  clip-path: polygon(100% 50%, 0% 100%, 100% 100%);
  background: #fff;
  z-index: 8;
}
@media (max-width: 500px) {
  .section-contact .map:after,
  .section-contact .map:before {
    display: none;
  }
}
.section-contact .map:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: calc(50% + 2px);
  height: 220px;
  clip-path: polygon(0% 50%, 0% 100%, 100% 100%);
  background: #fff;
  z-index: 8;
}
@media (max-width: 991px) {
  .section-contact .map {
    margin: 0 0 50px;
  }
}
@media (max-width: 767px) {
  .section-contact .map {
    min-height: 350px;
  }
}
.section-contact ul li {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0 40px;
}
.section-contact ul li:nth-last-child(1) {
  margin: 0;
}
.section-contact ul li .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  background-color: #f5f5f5;
}
.section-contact ul li i {
  font-size: 20px;
  color: #E6273C;
}
.section-contact ul li .contact-info {
  line-height: 27px;
}
.section-contact ul li .contact-info a, .section-contact ul li .contact-info p {
  font-size: 15px;
  color: #0e0e0e;
  display: table;
}
@media (max-width: 991px) {
  .section-contact ul li .contact-info a, .section-contact ul li .contact-info p {
    font-size: 14px;
  }
}
.section-contact .form-group {
  margin: 0 0 20px;
}
.section-contact form .row {
  margin: 0 -10px;
}
.section-contact form .row [class*=col-] {
  padding: 0 10px;
}
.section-contact form .btn {
  min-width: 100%;
  margin: 0 0 30px;
}
@media (max-width: 991px) {
  .section-contact form .btn {
    margin: 0 0 10px;
  }
}
.section-contact form .policy {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 15px 0 0 0px;
  font-size: 10px;
  color: #636161;
  font-family: "Montserrat";
}
.section-contact form .policy img {
  margin: 0 12px 0 0;
}

/** END CONTENT **/
/** START FOOTER **/
footer .footer-top {
  background: #0c0f13;
  padding: 35px 0;
  border-bottom: 1px solid #202b39;
}
footer .footer-top .logo svg {
  width: 140px;
  fill: #E6273C;
}
@media (max-width: 767px) {
  footer .footer-top {
    padding: 25px 0;
  }
  footer .footer-top .logo svg {
    width: 100px;
  }
}
@media (max-width: 575px) {
  footer .footer-top {
    padding: 25px 0 15px;
  }
}
footer .footer-top .container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
footer .footer-top .container .presentation {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
  color: #ffffff;
  font-family: "Montserrat";
}
@media (max-width: 767px) {
  footer .footer-top .container .presentation {
    font-size: 12px;
  }
}
footer .footer-top .container .presentation img {
  margin: 0 15px 0 0;
}
footer .footer-top .container ul {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}
@media (max-width: 575px) {
  footer .footer-top .container ul {
    width: 100%;
    justify-content: center;
    margin-top: 20px;
  }
}
footer .footer-top .container ul li {
  margin: 0 24px 0 0;
}
footer .footer-top .container ul li:nth-last-child(1) {
  margin: 0;
}
footer .footer-top .container ul li a:hover {
  opacity: 0.7;
}
footer .footer-bottom {
  background: #0c0f13;
  padding: 30px 0 40px;
}
footer .footer-bottom .container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .footer-bottom .container .bottom-row {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
@media (max-width: 991px) {
  footer .footer-bottom .container .bottom-row {
    margin-bottom: 20px;
    width: 50%;
  }
}
@media (max-width: 767px) {
  footer .footer-bottom .container .bottom-row {
    width: 100%;
  }
}
footer .footer-bottom .container .bottom-row .title {
  font-size: 16px;
  color: #ffffff;
  font-family: "Noto Sans";
  font-weight: 700;
  margin: 0 0 10px;
}
footer .footer-bottom .container .bottom-row ul li {
  margin: 0 0 3px;
}
footer .footer-bottom .container .bottom-row ul li a {
  font-size: 16px;
  color: #ffffff;
  font-family: "Montserrat";
}
footer .footer-bottom .container .bottom-row .policy {
  display: block;
  margin: 35px 0 45px;
  font-size: 12px;
  color: #ffffff;
  font-family: "Montserrat";
}
@media (max-width: 767px) {
  footer .footer-bottom .container .bottom-row .policy {
    margin: 35px 0;
  }
}
footer .footer-bottom .container .bottom-row .copy {
  font-size: 14px;
  color: #ffffff;
  font-family: "Montserrat";
  margin: 50px 0 0;
}
@media (max-width: 767px) {
  footer .footer-bottom .container .bottom-row .copy {
    margin: 30px 0 30px;
  }
}
footer .footer-bottom .container .bottom-row .phone {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
  color: #ffffff;
  font-family: "Montserrat";
}
footer .footer-bottom .container .bottom-row .phone img {
  margin: 0 15px 0 0;
}
footer .footer-bottom .container .bottom-row .mail {
  font-size: 16px;
  color: #fff;
  font-family: "Montserrat";
  display: table;
  margin: 5px 0 0;
}
footer .footer-bottom .container .bottom-row .adress {
  font-size: 12px;
  color: #ffffff;
  font-family: "Montserrat";
  margin: 20px 0 40px;
}
.rub {
  font-family: 'rouble';
}
.section-cost .cost-item .price i {
  margin-left: 10px;
  font-size: 30px;
}

@media screen and (min-width: 991px) {
  footer .hidden-mobile {
    display: block;
  }
  .mobile-visible {
    display: none !important;
  }
}

@media screen and (max-width: 991px) {
  footer .hidden-mobile {
    display: none;
  }
  footer .footer-bottom .container .bottom-row .copy {
    margin: 15px 0 0;
  }
  footer .footer-bottom .container .bottom-row .policy {
    margin: 15px 0 0;
  }
}

@media screen and (max-width: 767px) {
  footer .footer-bottom .container .bottom-row .adress {
    margin: 20px 0 0;
  }
}

/** END FOOTER **/
.BC {
  display: none;
}
.help-block {
  display: none;
  color: red;
  font-size: 12px;
  padding-left: 15px;
  margin-top: 5px;
}
.has-error .help-block {
  display: block;
}

[type="submit"].success {
  background-color: #20c400 !important;
}

.socials i {
  font-size: 26px;
  color: #BBBCBD;
}
.socials a {
  display: block;
  font-size: 0;
}

.links {
  
}
.links li {
  margin: 10px 0;
}
.links li:before {
  content: '- ';
}
.links li a {
  text-decoration: underline;
}
.links li a:hover {
  text-decoration: none;
}

.design {
  display: block;
}

.design svg {
  width: 181px;
}

.reviews {

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 30px 0;
        border-radius: 10px;
        max-width: 1172px;
        padding: 50px 40px;
        background: #F3F3F3;
        box-sizing: border-box;
        @include media-max(lg) {
            padding: 20px;
        }
        @include media-max(md) {
            margin: 15px 0;
            padding: 10px;
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__itemLeft {
        position: relative;
        margin-right: 50px;
        flex: 0 0 268px;
        height: 381px;
        padding-bottom: 30px;
        cursor: pointer;
        text-align: center;
        @include media-max(lg) {
            margin-right: 15px;
        }
        @include media-max(md) {
            margin-right: 0;
        }

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    &__itemLoop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 100px;

        svg {

        }

        span {
            font-size: 14px;
            line-height: 100%;
        }
    }

    &__itemRight {
        flex: 1 1 auto;
        @include media-max(md) {
            flex: 0 0 100%;
        }
    }

    &__itemRightTop {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }

    &__itemRightTopLeft {
      margin: 5px 0;
    }

    &__itemRightTopRight {
      margin: 10px 0;

      svg, img {
        width: 75px;
      }
    }

    &__man {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
    }

    &__manImage {
      margin: 5px 13px 5px 0;
      border-radius: 100%;
      width: 40px;
      height: 40px;
      background-size: cover;
      background-position: center;
    }

    &__manName {
      margin: 5px 0;
    }

    &__manFunction {
      margin: 5px 0 5px 5px;
      color: grey;
    }

    &__name {
        margin: 0 0 10px;
        font-family: CA Saygon;
        font-style: normal;
        font-weight: bold;
        font-size: 27px;
        line-height: 42px;
        @include media-max(sm) {
          font-size: 22px;
          line-height: 30px;
        }
    }

    &__text {
        margin-bottom: 25px;

        p {
            margin: 25px 0;
            font-size: 16px;
            font-weight: 500;
            line-height: 139.9%;

            &:first-child {
                margin-top: 0;
            }
    
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.articleCategories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #F0EFEF;
  padding: 10px 0;

  &__item {
    margin: 0 5px;
    padding: 15px 0;
    font-size: 19px;
    line-height: 23px;
    @include media-max(sm) {
        font-size: 17px;
    }

    &.active {
      text-decoration: underline;
    }

    &:last-child {
        color: #D8082E;
    }
  }
}

.articles {

  &__item {
    margin: 30px 0;
    border-radius: 10px;
    padding: 20px 25px;
    background-color: #F3F3F3;
    @include media-max(sm) {
      padding: 10px 15px;
    }
  }

  &__itemTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 5px;
  }

  &__itemTopLeft {

  }

  &__itemTopLeftTop {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }
  
  &__itemHuman {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5px;
  }

  &__itemHumanImage {
    margin-right: 10px;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
  }

  &__itemHumanName {
    margin-right: 15px;
    font-size: 15px;
  }

  &__itemDate {
    margin: 0 15px 5px 0;
  }

  &__itemCategory {
    margin-bottom: 5px;
    color: #D8082E;
  }

  &__itemTopLeftBottom {
    
  }

  &__itemHeader {
    font-family: "CA Saygon";
    font-weight: bold;
    font-size: 27px;
    line-height: 42px;
    @include media-max(sm) {
      font-size: 22px;
      line-height: 30px;
    }
  }

  &__itemTopRight {
    
  }

  &__itemIcon {
    width: 75px;
  }

  &__itemText {
    font-size: 16px;
    line-height: 1.4;
    @include media-max(sm) {
      font-size: 14px;
      line-height: 1.5;
    }
  }

  &__itemImage {
    margin: 10px 0;
  }

  &__itemFeatures {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__itemFeature {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 5px 10px 5px;

    div {
      margin-right: 20px;
      height: 31px;
      font-family: "CA Saygon";
      font-weight: bold;
      font-size: 27px;
      color: #D8082E;
      @include media-max(sm) {
        font-size: 24px;
      }
    }

    span {
      font-size: 14px;
      @include media-max(sm) {
        font-size: 12px;
      }
    }
  }

  &__itemBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 0;
    border-top: 1px solid rgba(0, 0, 0, 0.06);
    padding: 15px 0 0;
  }

  &__itemBottomLeft {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__itemCount {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    svg {
      margin-right: 5px;
      width: 18px;
    }

    span {
      margin-left: 2px;
      font-size: 15px;
    }
  }

  &__itemBottomRight {

  }

  &__itemMore {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    span {
      margin-right: 6px;
    }
  }
}

.container-900 {
  max-width: 900px !important;
}

.article {

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
    border-bottom: 1px solid #F0EFEF;
    padding: 10px 0;
  }

  &__topLeft {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    .articles__itemHuman {
      margin-bottom: 0;
    }

    .articles__itemHumanImage, .articles__itemHumanName, .articles__itemDate {
      margin: 10px 0;
    }

    .articles__itemHumanName {
      margin-left: 10px;
      margin-right: 20px;
      font-weight: 600;
      font-size: 17px;
    }
  }

  &__topRight {
    
  }

  &__content {
    img {
      border-radius: 10px;
      max-width: 100%;
    }

    p {
      margin: 20px 0;
      font-size: 17px;
      line-height: 1.5;
    }

    iframe {
      width: 100% !important;
      height: 400px !important;
      @include media-max(sm) {
        height: 200px !important;
      }
    }
  }

  &__header {
    margin-top: 25px;
    font-family: "CA Saygon";
    font-weight: bold;
    font-size: 27px;
    line-height: 48px;
    @include media-max(sm) {
      font-size: 22px;
      line-height: 30px;
    }

    &+* {
      margin-top: 5px !important;
    }
  }

  &__content1 {
    margin: 20px 0;

    p {
      margin-top: 5px;
    }
  }

  &__content1Header {
    font-weight: bold;
    font-size: 19px;
    line-height: 1.5;
  }

  &__content2, &__content3 {
    margin: 20px 0;
    border-radius: 10px;
    padding: 15px 25px;
    background-color: #F3F3F3;

    p {
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__content3 {

  }

  &__content3Human {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__content3HumanLeft {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }

  &__content3HumanLeftLeft {

  }

  &__content3HumanImage {
    margin-right: 15px;
    border-radius: 100%;
    width: 40px;
    height: 40px;
  }

  &__content3HumanLeftRight {

  }
  
  &__content3HumanName {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }

  &__content3HumanSite {
    display: block;
    color: #B8B8B8;
    text-decoration: none;
  }

  &__content3HumanRight {
    @include media-max(sm) {
      display: none;
    }

    svg {
      width: 52px;
    }
  }

  &__social {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 30px 0;
    border-top: 1px solid #F0EFEF;
    padding: 20px 0;
  }

  &__socialText {
    margin-right: 15px;
    font-size: 16px;
    color: rgba(88, 88, 88, 0.62);
  }

  &__moreHeader {
    font-family: "CA Saygon";
    font-weight: bold;
    font-size: 31px;
    line-height: 48px;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 30px 0;

  li {
    margin: 10px 8px;
    border: 1px solid #8B8B8B;
    border-radius: 3px;
    background-color: transparent;
    text-align: center;
    line-height: 1px;
    transition: all 0.2s linear;
    cursor: pointer;

    a, span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 34px;
      height: 34px;
    }

    &.disabled {
      background-color: transparent !important;
      a, span {
        color: rgba(53, 53, 53, 0.34) !important;
      }
    }

    &.active {
      border-color: #D8082E !important;
      background-color: #D8082E !important;
      
      a, span {
        color: #fff !important;
      }
    }

    &:hover {
      border-color: #D8082E;
      background-color: #D8082E;
      
      a, span {
        color: #fff;
      }
    }
  }
}

.popup {
  display: none;
  border-radius: 10px;
  max-width: 500px;

  &__header {
    margin-bottom: 10px;
    font-family: CA Saygon;
    font-weight: bold;
    font-size: 37px;
    color: #000;
    line-height: 58px;
    text-align: center;
    @include media-max(sm) {
      font-size: 22px;
    }
  }

  .btn {
    width: 100%;
  }
}

.v {
  color: #fff;

  &__left {
    margin-right: 15px;
    font-weight: bold;
    font-size: 30px;
  }

  &__right {
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
  }
}

.vb {
  margin: 20px 0;
  border-radius: 20px;
  max-width: 663px;
  padding: 25px;
  background: rgba(188, 188, 188, 0.08);
  font-size: 22px;
  color: #fff;
  line-height: 26px;
  box-sizing: border-box;
}

.vbb {
  .articles__itemFeature {
    div {
      height: 45px;
      font-size: 39px;
    }

    span {
      font-size: 19px;
      color: #fff;
    }
  }
}

.section-team {
  padding: 50px 0;
  background-color: #F6F6F6
  ;
}

.reviewsSlider {

  .slick-prev, .slick-next {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 5;
    margin: auto;
    @include media-max(sm) {
      bottom: auto;
      top: 175px;
    }
  }

  .slick-prev {
    left: -50px;
  }

  .slick-next {
    left: auto;
    right: -50px;
  }

  .reviews__item {
    margin-top: 0;
  }
}

@media (max-width: 1400px) {
  .reviewsSlider .slick-prev {
    left: 0;
  }

  .reviewsSlider .slick-next {
    right: 0;
  }
}

.team {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @include media-max(md) {
    justify-content: space-around;
  }

  &__item {
    margin: 15px 0;
    flex: 0 0 256px;
    text-align: center;
  }

  &__image {
    max-width: 100%;
    max-height: 232px;
  }

  &__name {
    margin: 10px 0 5px;
    font-weight: bold;
    font-size: 20px;
  }

  &__function {
    font-size: 17px;
    color: rgba(0, 0, 0, 0.32);
  }

  &__links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin: 5px 5px;
    width: 28px;
    height: 28px;
    background-color: #D8082E;
  }
}

.article__content {
  ul {
    list-style-type: disc;
    padding: 0 0 0 20px;
    li {

    }
  }
}

.slick-dots {
  margin: -25px 0 0 0;
  padding: 0;
  list-style: none;
  text-align: center;

  li {
    display: inline-block;
    margin: 0 5px;
    width: 11px;
    height: 11px;
    border-radius: 100%;
    background: #DFDFDF;
    font-size: 0;
    transition: all 0.1s linear;
    cursor: pointer;

    &.slick-active, &:hover {
      background: #D8082E;
    }
  }
}