@font-face {
    font-family: 'GothamPro';
    src: url('fonts/GothamPro.ttf');
}

@font-face {
    font-family: 'GothamProBold';
    src: url('fonts/GothamPro-Bold.ttf');
}

@font-face {
    font-family: 'GothamProBlack';
    src: url('fonts/GothamPro-Black.ttf');
}

@font-face {
    font-family: 'CA Saygon';
    src: local('CA Saygon Regular'), local('CA-Saygon-Regular'),
        url('fonts/CASaygon-Regular.woff2') format('woff2'),
        url('fonts/CASaygon-Regular.woff') format('woff'),
        url('fonts/CASaygon-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'CA Saygon Bold';
    src: local('CA Saygon Bold'), local('CA-Saygon-Bold'),
        url('fonts/CASaygon-Bold.woff2') format('woff2'),
        url('fonts/CASaygon-Bold.woff') format('woff'),
        url('fonts/CASaygon-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face { 
    font-family: "rouble";
    src: url("fonts/rouble.otf") format("opentype");
}